*{
	margin: 0;
	padding: 0px;
	
}
body{
	background-image:url("homme.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}
header{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: black;
	color: white;
	height: 70px;
	width: 100px;
	z-index: 5px;
}
header ul{
	list-style-type: none;
}
header ul li{
	display: inline-block;
	margin-right: auto;
	margin: 20px;
}
.img{
	margin-top: 280px;
	margin-left: 30px;
}
 .img h1{
	font-size: 90px;
	margin-bottom: 10px;
	
}
.desc {
	position: absolute;
	width: 30%;
}